img{
    width: 200px;
    height: 200px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 50px 50px;
}

#special{
    width: 400px;
    height: 400px;
}