.container{
    display: grid;
    /* grid-template-columns: 200px 200px; */
    /* grid-template-columns: 25% 25%; */
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    /* grid-template-rows: 1fr 2fr; */
    justify-items: center;
    align-items: center;
    grid-gap: 20px 20px;
}

img{
    width: 200px;
    height: 50%;
    border: 2px solid black;
    transition: all 0.1s
}

img:hover{
    transform: scale(1.2);
}