#demo{
    background-color: greenyellow;
    font-size: 30px;
}

.test{
    background-color: orange;
    font-size: 60px;
}

p{
    background-color: red;
    font-size: 30px;
}

p{
    background-color: blue;
    font-size: 30px;
}